<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.AUDIO_CAPTURE" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- To alter app icon you've to set android:icon and
    android:roundIcon values -->
    <!-- Theme is set to Launcher theme to get splash screen:
    android:theme="@style/Theme.VideozvonokBY.Launcher"
    No need to switch to Base application theme explicitly, at least if
    your app is Android WebView-based -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/videozvonok_launcher"
        android:label="@string/app_label"
        android:description="@string/app_description"
        android:roundIcon="@mipmap/videozvonok_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideozvonokBY.Launcher"
        tools:targetApi="33">
        <!-- To prevent app from reloading webpage on each screen autorotate, we need:
        android:configChanges="orientation|screenSize">
        and to check if savedInstanceState == null before loading site
        myWebView.loadUrl("https://videozvonok.by");
        in MainActivity.java super.onCreate
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>